@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@700&family=PT+Serif:wght@700&display=swap');

$xxx-large: xxx-large;
$theme-color: #F50057;
$greetings-font: 'Noto Serif', serif;
$introductory-font: 'Nunito Sans', sans-serif;
$description-font: 'Source Code Pro', monospace;

.leftImageContainer {
    width: 100%;
    height: 85vh;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.greetingsContainer {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

.greetingsText {
    color: $theme-color;
    font-size: $xxx-large;
    font-family: $greetings-font;
}

.introductoryText {
    font-weight: normal;
    font-family: $introductory-font;
}

.descriptionText {
    font-weight: normal;
    font-family: $description-font;
}

.buttonContainer {
    margin-top: 2rem;
}

.landingImageContainer {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 890px) {
    .greetingsText {
        font-size: xx-large;
    }
    
    .introductoryText {
        font-size: larger;
    }
    
    .descriptionText {
        font-size: small;
    }
}

@media screen and (max-width: 655px) {
    .leftImageContainer {
        padding-top: 0;
        padding-bottom: 2.5rem;
        flex-direction: column-reverse;
    }
    
    .greetingsContainer {
        width: 100%;
        height: 50%;
        justify-content: flex-start;
    }

    .landingImageContainer {
        width: 100%;
        height: 50%;
    }
}