@import "../landingLayout/landingLayout.module.scss";

.madeWithLoveContainer {
    bottom: 0;
    width: 100%;
    height: 5vh;
    display: flex;
    position: fixed;
    align-items: center;
    background-color: white;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.madeWithLoveText {
    font-size: medium;
    font-weight: normal;
    font-family: $introductory-font;
}

@media screen and (max-width: 655px) {
    .madeWithLoveText {
        font-size: x-small;
    }
}