@import "../landingLayout/landingLayout.module.scss";

.subjectLayoutContainer {
    width: 30%;
    display: flex;
    padding: 1rem;
    margin: 1rem;
    cursor: pointer;
    border-radius: 0.5rem;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    box-shadow: 0 8px 24px rgb(149 157 165 / 20%);
}

.subjectName {
    text-align: center;
    font-weight: normal;
    font-family: $introductory-font;
}

@media only screen and (min-width: 620px) and (max-width: 1024px) {
    .subjectLayoutContainer {
        width: 40%;
    }
}

@media screen and (max-width: 655px) {
    .subjectLayoutContainer {
        width: 80%;
    }
}